.group-form .wrap-btn-group {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.group-form .footer-btn-groups {
  display: flex;
  justify-content: flex-end;
}
.group-form .footer-btn-groups > button {
  margin-right: 10px;
}
