@media (max-width: 768px) {
  .container > div {
    width: 100% !important;
  }
  .item-left {
    padding: 0 20px !important;
  }
  .item-right {
    padding: 0 20px !important;
    width: 100% !important;
  }

  .section-text h1 {
    font-size: 32px;
  }
  .service-widget .widget-title {
    font-size: 26px;
  }
  .contact-input input {
    border: 2px solid #f0f8ff;
    color: #647589;
    font-weight: 400;
    height: 60px;
    padding: 0 0 0 40px;
    width: 100%;
  }

  .more-service-container .item-right > div:nth-child(2) {
    padding-right: 20px;
    padding-left: 20px;
  }

  .item-right .widget-title {
    font-size: 26px;
  }
  .testi-content p {
    font-size: 17px;
    line-height: 26px;
  }
}

@media (max-width: 400px) {
  .set-form-btn {
    display: none;
  }
}

@media (max-width: 315px) {
  .single-download-inner span {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  .single-download-inner span {
    font-size: 5px;
  }
}
