@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700|";

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2)
    format("woff2");
}

.department-health .icon-wrap {
  margin-top: 100px;
}

.department-health .header-container {
  position: relative;
}

.department-health .header-container h5 {
  color: #e12454;
  text-transform: uppercase;
  margin-bottom: 28px;
  font: "Poppins", italic;
  font-size: 18px;
  font-weight: 500;
  float: right;
}

.department-health .wrap-title {
  position: relative;
}

.department-health .header-container .wrap-title > h1 {
  float: right;
  font: 45px "Poppins", italic;
  line-height: 1.2;
  margin-bottom: 18px;
  color: #223645;
  font-weight: 600;
  text-align: right;
}

.department-health .wrap-text {
  line-height: 26px;
  padding-top: 25px;
  color: #647589;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-left: 30px;
}

.department-health .img-icon > img {
  left: inherit;
  margin: inherit;
  position: absolute;
  right: 0;
  top: -50px;
}

.department-health .header-container > h1 {
  text-align: center;
  font: 60px "Poppins", sans-serif;
  font-weight: 500;
  color: #223645;
  margin: 0;
  max-width: 600px;
}

.department-health .header-container > img {
  margin: 17px 0 65px;
}

.department-health .grap-container {
  margin-bottom: 100px;
}

.department-health .item-container-new {
  background: #fff;
  text-align: center;
  transition: 0.4s;
}

.department-health .item-container-new .list-item {
  padding: 53px;
}

.department-health .list-item > img {
  margin-bottom: 45px;
}

.department-health .list-item > a {
  color: #647589;
  display: inline-block;
  font-weight: 500;
  margin-top: 5px;
}

.department-health .list-item > h2 {
  font: 26px "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 22px;
}

.department-health .list-item p {
  font: "Poppins", italic;
  color: #647589;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto 15px;
  max-width: 260px;
}

.department-health .item-container-new:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 16px 32px 0px rgba(196, 203, 255, 0.3);
}

@media (max-width: 767px) {
  .department-health .item-container-new .list-item {
    padding: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .department-health .header-container .wrap-title > h1 {
    font-size: 40px;
  }
}

/* container */
@media (min-width: 576px) {
  .container > div {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container > div {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container > div {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container > div {
    max-width: 1200px;
  }
}

.container > div {
  margin-left: auto !important;
  margin-right: auto !important;
}
