* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.caculate-area {
  background: url("https://medi-dove.netlify.app/static/media/calculate-bg.ef8aed0096c22d49b5a5.png");
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 120px;
  padding-top: 115px;
}

.caculate-area:before {
  background: #223645;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.calculate_wrapper {
  position: relative;
}

.caculate-area .section-title {
  position: relative;
  margin-bottom: 45px;
}

.caculate-area .section-text {
  position: relative;
}

.caculate-area .section-text > h5 {
  color: #b1c5d3;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Rubik, sans-serif;
}

.section-text > h1 {
  line-height: 1.2;
  margin-bottom: 18px;
  color: #fff;
  font-size: 60px;
  letter-spacing: -0.3px;
  font-family: Poppins, sans-serif;
  margin-top: 0;
  font-weight: 600;
  padding: 0;
}

.caculate-area .section-text > p {
  color: #b4c8d7;
  font-size: 30px;
  line-height: 42px;
  max-width: 700px;
  padding-right: 35px;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: Rubik, sans-serif;
  padding-right: 35px;
}

.caculate-area .section-button-appointment {
  margin-bottom: 30px;
}

.caculate-area .btn-icon {
  padding: 24px 50px 22px 84px;
  background-color: #8fb569;
  box-shadow: 0 8px 16px 0 hsla(90, 34%, 56%);
  border: none;
  color: #fff;
  outline: medium none;
  text-decoration: none;
  font-family: Rubik, sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 30px;
  font-family: Rubik, sans-serif;
}

.caculate-area .btn-icon:hover {
  background-color: #e12454;
  box-shadow: 0 8px 16px 0 rgba(225, 36, 84, 0.2);
  color: #fff;
}

.caculate-area .btn-icon span {
  background: #fff;
  border-radius: 100%;
  color: #223645;
  font-size: 20px;
  height: 50px;
  left: 5px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 5px;
  transition: 0.3s;
  width: 50px;
  font-weight: 600;
}

.caculate-area .caculate-box {
  background: #fff;
}

.caculate-area .caculate-content {
  background: #fff;
  padding: 60px 60px 0;
}

.caculate-area .select_style {
  color: #647589;
  font-size: 14px;
  height: 70px;
  margin-bottom: 15px;
  padding-left: 38px;
  border: 2px solid #d3e2f0;
}

.caculate-area .select_style:focus {
  border: 2px solid #d3e2f0;
}

.caculate-area .form-select {
  appearance: none;
  background-color: #fff;
  background-image: url("../images/arrow-down.svg");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border-radius: 0.25rem;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  padding-left: 38px;
  outline: none;
}

.caculate-area .form-select:focus {
  border-color: #eee7ff;
  box-shadow: none;
}

.caculate-area .caculate-form {
  position: relative;
}

.caculate-area .caculate-form > input {
  border: 2px solid #eee7ff;
  height: 70px;
  padding-left: 38px;
  position: relative;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  color: #647589;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.caculate-area .caculate-box > a {
  margin-top: 40px;
}

.caculate-area .primary_btn {
  background: #e12454;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1;
  line-height: 1;
  margin-bottom: 0;
  padding: 24px 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  outline: medium none;
  text-decoration: none;
  margin-top: 40px;
}

.caculate-area .primary_btn:hover {
  background: #8fb569;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .caculate-area .section-text h1 {
    font-size: 47px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .caculate-area .section-text > h1 {
    font-size: 53px;
  }
}

@media (max-width: 767px) {
  .caculate-area .section-text > h1 {
    font-size: 32px;
  }

  .caculate-area .caculate-content {
    padding: 25px;
  }
}

/* container */
@media (min-width: 576px) {
  .container > div {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container > div {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container > div {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container > div {
    max-width: 1200px;
  }
}

.container > div {
  margin-left: auto !important;
  margin-right: auto !important;
}
