.home {
  height: 100vh;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.site-layout {
  height: calc(100vh - 1.5rem);
  overflow-y: auto;
}

.site-layout .site-layout-background {
  padding: 0;
}

.site-layout .site-layout-content {
  padding: 0px 1.5rem 1.5rem;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.site-layout .site-layout-content .site-layout-background {
  margin: 0px;
}
