.workspace-container .workspace-text {
  width: 200px;
}

.workspace-container .wrap-btn {
  padding-bottom: 20px;
}
.workspace-container .wrap-btn .btn-workspace {
  float: right;
  background-color: blue;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.btn-space {
  background-color: blue;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.workspace-container .head-wrap {
  margin-bottom: 16px;
  margin-left: 3px;
}
