.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.wrapper > a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

.user-icon {
  margin-left: 14px !important;
  margin-left: 14px !important;
  border: 1px solid #ccc;
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #ccc;
}

.user-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
